.title1 {
  color: var(--grey-0);
  font-family: var(--font-primary);
  font-size: 1.125rem;
  font-weight: 700;

  &.center {
    text-align: center;
  }
}
.title2 {
  color: var(--grey-0);
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
}
.headline {
  color: var(--grey-0);
  font-family: var(--font-primary);
  font-size: 0.75rem;
  font-weight: 400;

  &.headlineBold {
    font-weight: 600;
    color: var(--grey-1);
    text-align: center;
  }
  &.headlineError{
    color: var(--negative);
  }
}
.paragraph {
  color: var(--grey-0);
  font-family: var(--font-primary);
  font-size: 1rem;
  font-weight: 400;
}
